<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 부트스트랩 CSS (CDN 사용) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .fieldError {
            border-color: #bd2130;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mx-auto" href="/">야구 예매 사이트</a>
</nav>
<div class="container">
    <h2 class="mt-5 mb-4">회원 가입</h2>

    <form role="form" action="/member/create" th:object="${memberForm}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">핸드폰</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" placeholder="휴대폰을 입력하세요">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="mb-3">
            <label for="favoriteTeam" class="form-label">좋아하는 팀</label>
            <input type="text" id="favoriteTeam" th:field="*{favoriteTeam}" class="form-control" placeholder="좋아하는 팀을 입력하세요">
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">주소</label>
            <input type="text" id="city" th:field="*{city}" class="form-control" placeholder="주소를 입력하세요">
        </div>
        <div class="mb-3">
            <label for="detail" class="form-label">상세주소</label>
            <input type="text" id="detail" th:field="*{detail}" class="form-control" placeholder="상세주소를 입력하세요">
        </div>
        <div class="mb-3">
            <label for="zipcode" class="form-label">우편번호</label>
            <input type="text" id="zipcode" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">가입하기</button>
    </form>
</div>

<!-- 부트스트랩 JavaScript (CDN 사용) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
